<div jqm>
    <ul data-role="listview" data-inset="true">
        <li class="ui-field-contain">
            <label>
                <span>Name</span>
                <input type="text" ng-model="person.name" />
            </label>
        </li>
        <li class="ui-field-contain">
            <label>
                <span>Location</span>
                <input type="text" ng-model="person.location" />
            </label>
        </li>
        <li class="ui-field-contain">
            <button ng-click="save()">OK</button>
        </li>
    </ul>
    <a class="block mt10px" href="#/list">List</a>
</div>